# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/
main

# Env files
.env
.env.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# 
postgres_data

# Test coverage
*.out

vendor/